.container {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}

.configTitle {
  font-size: var(--f18);
}

.configStatus {
  color: #4D4D4D;
}

.videoOverlay {
  margin: 2rem 0;
  width: 46rem;
  padding-top: 56.25%;
  height: 0px;
  position: relative;
  /* width: 50rem; */
}

.videoOverlay video {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.downloadButton {
  color: var(--white);
  width: 20rem;
  height: 5rem;
  background: #000000;
  border: 1px solid #4e5868;
  text-decoration: none;
  padding: 1rem 4rem;
  border-radius: 10px;
  cursor: pointer;
}
