.container {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}

.configTitle {
  font-size: 2.2rem;
}

.configStatus {
  font-size: var(--f18);
  color: #4d4d4d;
}

/* maintaining aspect ratio  */
/* .videoOverlay {
  margin: 1.6rem 0;
  width: 46rem;
  padding-top: 56.25%;
  height: 0px;
  position: relative;
}

.videoOverlay video {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
} */

.playerWrapper {
  position: relative;
}

.reactPlayer {
  margin: 1.6rem 0;
}

.modelThumbnail{
  position: absolute;
  right:0;
  bottom:1.4rem;
}

.playIcon{
  font-size: 7rem;
}

.downloadButton img{
  /* font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
  color: var(--white);
  width: 24rem;
  height: 5rem;
  background: linear-gradient(180deg, #161B25 0%, #2C303A 100%), #000000;
  border: 1px solid #4e5868;
  text-decoration: none;
  padding: 1rem 4rem;
  cursor: pointer;

  position: relative; */
  width: 24rem;
  height: auto;
}




.octagon {
  width: 24.3rem;
  height: 4.4rem;
  background: red;
  position: relative;
}
.octagon:before {
  content: "";
  width: 198px;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  border-bottom: 9px solid red;
  border-left: 9px solid black;
  border-right: 9px solid black;
}
.octagon:after {
  content: "";
  width: 198px;
  height: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  border-top: 9px solid red;
  border-left: 9px solid black;
  border-right: 9px solid black;
}
.octagonClicked{
  background: black;
}

