.container {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}

.configTitle {
  font-size: 2.2rem;
}

.configStatus {
  font-size: var(--f18);
  color: #4d4d4d;
}

/* maintaining aspect ratio  */
/* .videoOverlay {
  margin: 1.6rem 0;
  width: 46rem;
  padding-top: 56.25%;
  height: 0px;
  position: relative;
}

.videoOverlay video {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
} */

.playerWrapper {
}

.reactPlayer {
  margin: 1.6rem 0;
}

.playIcon{
  font-size: 7rem;
}

.downloadButton img{
  /* font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
  color: var(--white);
  width: 24rem;
  height: 5rem;
  background: linear-gradient(180deg, #161B25 0%, #2C303A 100%), #000000;
  border: 1px solid #4e5868;
  text-decoration: none;
  padding: 1rem 4rem;
  cursor: pointer;

  position: relative; */
  width: 24rem;
  height: auto;
}
