.container {
  display: flex;
}

.userInfoCategory {
    display: flex;
    flex-direction: column;
    font-size: 1.8rem;
    gap: 2rem;
    margin-right: 10rem;
}
  
.userDetails {
    display: flex;
    flex-direction: column;
    font-size: 1.8rem;
    gap: 2rem;
    /* min-width: 40rem; */
}



