.container {
  /* padding: 0 1.1rem; */
}

.main {
  /* min-height: 10vh; */
  top:0;
  height: 100%;
  width: 100%;
  left:0;
  background: var(--black);
  padding: 2rem 0;
  /* flex: 1; */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  color: var(--white);
}

.profile{
  display: flex;
  align-items: center;
  align-self: flex-start;
  padding: 4rem 0 3rem 0;
}


.grid {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10rem;
  /* max-width: 100rem; */
}


@media (max-width: 600px) {
 .profile{
  flex-direction: column;
  gap: 2rem;
  align-items: center;
 } 
}


